{% extends 'base.html.twig' %}

{% block title %}Reservations{% endblock %}
{% block titrePage %} Liste des reservations {% endblock %}

{% block body %}
    {% for reservation in reservations %}
        <div class="row">
            <div class="col-5">
                <h1><a href=""> RESERVATION {{ reservation.id}}</a></h1>
                <p>{{ reservation.date|date('d-m-Y') }}</p>
                <p>De : {{ reservation.heureDeb|date('H:i') }}   A : {{ reservation.heureFin|date('H:i') }}</p>
                <p>Salle : {{ reservation.salles.id }}</p>


            </div>
        </div>
        <a class="btn btn-secondary mb-5" href="">Modifier la reservation</a>


        <form method="post" style="display:inline-block"
              action="">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="_token" value="">
            <input type="submit" class="btn btn-danger" value="Supprimer">
        </form>

    {% endfor %}

{% endblock %}
